* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.cash-calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  text-shadow: 3px 3px 3px #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ad-container {
  width: 100%;
  height: 100px;
}

.cash-calculator__title {
  color: #eee;
  position: relative;
  transform: translate(-10%);
}

.cash-calculator__title::after {
  content: "";
  display: block;
  background-image: url(https://cdn-icons-png.flaticon.com/512/3225/3225038.png);
  background-size: contain;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 100%;
  bottom: 50%;
  transform: translate(0, 50%);
}

.cash-calculator__container {
  min-width: 300px;
  background-color: #5a0a4f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.cash-calculator__input {
  display: flex;
  align-items: center;
  gap: 3px;
}

.data {
  display: flex;
  gap: 10px;
}

label {
  /* display: block; */
  color: #eee;
  font-size: 18px;
}

.banknotes,
.coins {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inputs__container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

section h3 {
  color: #eee;
  font-weight: 500;
  position: relative;
  align-self: flex-start;
}

.banknotes__title:after {
  content: "";
  display: block;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5220/5220037.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -20%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.coins__title:after {
  content: "";
  display: block;
  background-image: url(https://cdn-icons-png.flaticon.com/512/10693/10693138.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -40%;
  bottom: 50%;
  transform: translate(50%, 40%);
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  width: 100%;
  background-color: #3d0736;
}

.result__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.result-data {
  font-size: 22px;
  color: #eee;
  font-weight: 600;
}
.result-title {
  color: #eee;
  text-wrap: 600px;
}

button {
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 30px;
}

button img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.add-input__btn {
  background-color: #33032d;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 5%;
}

.add-input__btn span {
  display: block;
  position: relative;
  font-size: 25px;
  color: #eee;
  font-weight: 600;
}

.add-input__container {
  display: flex;
  align-items: center;
}

input {
  width: 80px;
  height: 30px;
  font-size: 18px;
  padding: 2px;
  background-color: #781b8f;
  border: #eee solid 2px;
}

input:focus {
  outline: none;
}

#donateBtn {
  color: #eee;
  cursor: pointer;
}

#donateBtn:focus {
  color: #ffffff;
}

.hide-donate-btn,
.show-donate-btn {
  position: relative;
}

.hide-donate-btn::after,
.show-donate-btn::after {
  content: "";
  display: block;
  width: 102%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 10;
}

.show-donate-btn::after {
  top: 0%;
  left: 100%;
  transition: left 0.2s linear;
}

.hide-donate-btn::after {
  top: 0%;
  left: 0%;
  transition: left 0.2s linear;
}

.hide-donate-btn {
  animation: hide-donate-btn 0.4s linear forwards;
}

.show-donate-btn {
  animation: show-donate-btn 0.4s linear forwards;
}

@keyframes hide-donate-btn {
  0% {
    /* display: block; */
    transform: translate(0%, 0);
  }
  50% {
    transform: translate(100%, 0);
  }
  100% {
    /* display: none; */
    transform: translate(100%, 0);
  }
}

@keyframes show-donate-btn {
  0% {
    /* display: block; */
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    /* display: none; */
    transform: translate(0, 0);
  }
}
